body {
  background-color: rgb(8, 8, 8);
  background-image: url("../img/rozmytys.jpg");
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  font-size: xx-large
  color: rgb(33, 33, 34);
  font-style: italic;
  text-align: center;
  padding-top: 92px;
}

ul {
  list-style-position: inside;
}
.navigation {
  color: rgb(165, 154, 154);
  font-size: large;
  font-weight: bolder;
  padding: 20px;
  text-decoration: none;
}

header {
  border-radius: 4px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(15, 15, 15);
  background-color: rgb(44, 40, 40);
  padding: 10px;
}

footer {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(15, 15, 15);
  background-color: rgba(99, 96, 96, 0.486);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 97%;
}

.inputs {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.button {
  background-color: #3003f5;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.labels {
  color: white;
  font-weight: bold;
  padding-top: 10px;
  display: inline-block;
}
